@model IEnumerable<MVC_osobe.Models.Osobe>

@{
    ViewData["Title"] = "PopisLjudi";
}

<h1>Popis Ljudi, ima @ViewBag.BrojOsoba osobe/osoba u popisu</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<p>
    @ViewBag.Poruka
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Sifra)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Prezime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Godine)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.JePolaznik)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Sifra)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Prezime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Godine)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.JePolaznik)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
